body {

  font-family: 'Montserrat', sans-serif;
  background-color: 'ligthgrey';

}

header {

  background-color: #661aef;
  grid-area: header;

}

svg{

  overflow: visible;
}

.container {

display:grid;
grid-template-columns: minmax(100px, 1fr);
grid-template-rows: 86px 100px 100px;

grid-template-areas:

'nav '
'main';



}


.showAlert {

  background-color: #661aef;
  margin: 1rem;
  border-radius: 5px;
  size: fit-content;
  text-align: center;
  font-size: 15px;


}



/*--svg class--*/

.bell{

    width: 25px;
    height: 25px;
    margin: auto 18px auto auto;
    cursor: pointer;
}

.daily {


  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;

}

.bar {

  font-size: 10px;
  font-weight: bold;
}

.members,
.settings,
.visits,

{

  width: 20px;
   height: 20px;
  cursor: pointer;
}





.navSvg {

  background-color: #431E8B;
  display: flex;
  flex-direction: column;
  grid-area: nav;

}

.navSvg svg {

  width: 25px;
  height: 25px;
  margin: 20px auto 15px auto;
  cursor: pointer;
}


/* main class styling*/


 .traffic-header

  {

display: flex;
justify-content: space-between;
list-style: none;
margin-right: 43px;


 }

 .traffic-header h3{

   margin-left: 46px;
    padding: 10px;


 }

 .traffic-nav {

   display: flex;
   list-style: none;


 }

 .traffic-nav-link{

color: #000000;

 }

 .traffic-nav-link:hover{

   background-color: lightgreen;
   border-radius: 1rem;
   cursor:pointer;

 }

 .chartDown{

   text-align: center;
   padding: 10px;
   width: 768px;


 }

.SocialStats {

  display: flex;
  justify-content: space-between;
  margin: auto;
  margin: 3rem;
}

.daily h3,
.social h3{

  font-size: 10px;
  font-weight: bolder;
  padding: 10px;
  color: 'lightgrey';
}

main {

display:grid;
grid-area: main;


}


h2 {

margin: auto 10px;
padding: 10px;
color: ghostwhite;

}

span:hover{

  background-color: lightgreen;
  border-radius: 5px;
}

ol {

  display: flex;
  border-left: 1px solid ghostwhite;
  list-style: none;
  margin: auto 10px;
  padding: 10px;
}


li {

  margin-left: 5px;
  color: ghostwhite;
  margin: auto;
  padding: 10px;

}


img {

  width: 33px;
  height: 28px;
  border-radius: 50%;

}


.dashboardTitle{

display: flex;
justify-content: space-between;
width: 40rem;

}

.dashboardTitle h1{

color:color: :#BDB4B4;;
margin-left: 10px;

}


@media(min-width:768px) {



header,ol {

display: flex;
list-style: none;
justify-content: space-between;

}

.container {



grid-template-columns: 50px repeat(5,minmax(100px, 1fr));
grid-template-rows: 86px 100px 100px;


grid-template-areas:

  'header header header header header header'
  'nav main main main main main'
  'nav main main main main main '
  'nav main main main main main'
  'nav main main main main main '
  'nav main main main main main'
  'nav main main main main main'
  'nav main main main main main'
  'nav main main main main main'
  ;



}

header {

  background-color: #661aef;
  grid-area: header;
}

nav {

  grid-area: nav;

}

main {

display:grid;
grid-area: main;

  }

  .chart{

    padding: 4rem;
    width: 768px;
  }



.inputDash {

  width: 62%;
}

.alert{

  margin: auto 15rem auto 1rem;
}

  .daily {


    display: flex;

  }

  .bar {

    border-right:1px solid lightgrey;

  }

  .social {

    border-bottom: 1px solid lightgrey;
  }

  .tweetBack,
  .faceBack,
  .googBack{

    background-color: 'ligthgrey';
    height: 4rem;
    width: 15rem;
    background-color: lightgrey;
    border-radius: .5rem;
    padding: 12px;
    margin: 10px;

  }

  .tweet,
  .goog
   {

    width: 41px;
    height: 26px;
     margin: auto;

  }

.tweeter,
.google,
.face {
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-Color: #431E8B;
}

.tweetBack{

  display: flex;
}

.tweeter {
  padding-top: 8px;
}

.facebook{

  padding-left: 10px;
  width: 35px;
  height: 35px;
  margin: auto auto auto -2px;
}

.textTweet
{

  margin: 4px 10px;
}

.textBook
{

  margin: 4px 20px;
}

.textGoog{

  margin: 4px 11px;
}

.textTweet p,
.textTweet h3,
.textBook p,
.textBook h3,
.textGoog p,
.textGoog h3{

  margin:auto;
}

.textTweet p,
.textBook p,
.textGoog p{

  font-size: 10px;
  font-weight: bolder;
  color: #431E8B;

}

.textTweet h3,
.textBook h3,
.textGoog h3 {

  color: #431E8B;
  font-size: 20px;
  margin: -17px auto auto -9px;

}
