body {

  font-family: 'Montserrat', sans-serif;

}

header {

  background-color: #661aef;
  grid-area: header;

}

.container {

margin: auto;
padding: 0;
display:grid;
grid-template-columns: minmax(100px, 1fr);
grid-template-rows: 86px 100px 100px;

grid-template-areas:

'nav '
'main';

}

.alert{

margin: auto;

}

.showAlert {

  background-color: #661aef;
  margin: 1rem;
  border-radius: 5px;
  size: fit-content;
  text-align: center;
  font-size: 15px;


}



/*--svg class--*/

.bell{

    width: 25px;
    height: 25px;
    margin: auto 18px auto auto;
    cursor: pointer;
}

.daily {


  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;

}

.bar {

  font-size: 10px;
  font-weight: bold;
}

.members {

  width: 20px;
   height: 20px;
  cursor: pointer;
}

.settings{

  width: 20px;
  height: 20px;
  cursor: pointer;
}

.visits{

  width: 20px;
  height: 20px;
  cursor: pointer;
}

.navSvg {

  background-color: #431E8B;
  display: flex;
  flex-direction: column;
  grid-area: nav;

}

.navSvg svg {

  width: 25px;
  height: 25px;
  margin: 20px auto 15px auto;
  cursor: pointer;
}


/* main class styling*/


 .traffic-header

  {

display: flex;
justify-content: space-between;
list-style: none;
margin-right: 43px;


 }

 .traffic-header h3{

   margin-left: 46px;
    padding: 10px;


 }

 .traffic-nav {

   display: flex;
   list-style: none;


 }

 .traffic-nav-link{

color: #000000;

 }

 .traffic-nav-link:hover{

   background-color: lightgreen;
   border-radius: 1rem;
   cursor:pointer;

 }

 .chartDown{

   text-align: center;
   padding: 10px;


 }

.daily h3{

  font-size: 10px;
  font-weight: bolder;
  padding: 10px;
  color: 'lightgrey';
}

main {

display:grid;
grid-area: main;


}


h2 {

margin: auto 10px;
padding: 10px;
color: ghostwhite;

}

span:hover{

  background-color: lightgreen;
  border-radius: 5px;
}

ol {

  display: flex;
  border-left: 1px solid ghostwhite;
  list-style: none;
  margin: auto 10px;
  padding: 10px;
}


li {

  margin-left: 5px;
  color: ghostwhite;
  margin: auto;
  padding: 10px;

}


img {

  width: 33px;
  height: 28px;
  border-radius: 50%;

}


.dashboardTitle{

display: flex;
justify-content: space-between;


}

.dashboardTitle h1{

color:color: :#BDB4B4;;
margin-left: 10px;
}

.inputDash{

float:right;
 height:67px;
 width: 60%;


}


@media(min-width:768px) {

header,ol {

display: flex;
list-style: none;
justify-content: space-between;

}

.container {

grid-template-columns: 50px repeat(2,minmax(100px, 1fr));
grid-template-rows: 86px 100px 100px;

grid-template-areas:

  'header header header'
  'nav main main '
  'nav main main '
  'nav main main '
  'nav main main '
  'nav main main '
  'nav main main '
  ;

}

header {

  background-color: #661aef;
  grid-area: header;
}

nav {

  grid-area: nav;

}

main {

display:grid;
grid-area: main;

  }

  .chart{

    padding: 1rem;
  }

  .daily {


    display: flex;

  }

  .bar {

    border-right:1px solid lightgrey;

  }
